extends components/base.pug

block content
  include components/aside.pug
  include components/header.pug
  include components/main.pug
  script(src="js/index.js")






//- mixin user(userData)
//-   p= userData.firstName + " " + userData.lastName
//-   if userData.isAdmin
//-     p Admin
//-   else
//-     p Regular user
//-   hr 

//- block content
//-   p Hello world
//-   - const users = [{'firstName': 'John', 'lastName': 'Smith', 'isAdmin': true}, {'firstName': 'Vasya', 'lastName': 'Ivanov', 'isAdmin': false}]
//-   each user in users
//-     +user(user)

//- block custom
//-   p Another